
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes colourAnim{
  0% {background-color: #45ceef;}
  33% {background-color: #fff5a5;}
  66% {background-color: #99d2e4;}
  100% {background-color: #d8cab4;}
}

.container {
  width: 100%;
}

body {
  background: center#4a96ad;
  -webkit-animation: colourAnim 40s infinite alternate;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#drawer {
  height:70px;
}

.navbar-fixed-top {
  opacity: 0.7;
  height: 70px;
  box-shadow: 3px 2px 10px #524A4A;
  background-color: #20283c;
}


/* Attribute for list in a-tag*/
.fixed_nav_links {
  color:yellow;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;

}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
  color:red;
}

.header {
  border-bottom: 2px solid black;

}

/* On hover of burger mennu display drop down

.burger__menu:hover > .sub-menu{
  display:block;
}
*/

.sub-menu{
  min-width:100px;
  background-color:black;
  margin-top:-2px;
  opacity: 0.7;
}

/* Text color for text in sub menu*/
.sub-menu-text{
  color:yellow;
}

.profile_pic {
    max-width: 140px;
    max-height: 140px;
    width: 50%;
}

.logo {
    max-width: 140px;
    max-height: 140px;
    width: 50%;
}

.description {
    width: 100%;
    background-color: #efefef;
    margin: 20px 10px 20px 0px;
    padding: 10px 0px 100px 20px;
    box-shadow: 3px 2px 10px #524A4A;

}

.description:hover {
  background-color: #fff3a7;
}

.footer{
  width: 100%;
  background-color: #efefef;
  margin: 20px 10px 20px 0px;
  padding: 10px 0px 50px 20px;
  box-shadow: 3px 2px 10px #524A4A;
}

.footer:hover{
  background-color: #fff3a7;
}

.featured{
  padding-left: 20px;
}

.portfolio-tile {
    background-color: #EFEFEF;
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 2px 10px #524A4A;
}

.portfolio-tile:hover{
  background-color: #fff3a7;
}

.individual {
  margin: 20px 10px 20px 20px;
  background: #CDCDCD;
  box-shadow: 3px 2px 10px #524A4A;
  padding-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
/* horizontal, vertical shadow, blur, color*/
.individual:hover{
  box-shadow: 8px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.circle{
  border-radius:50%;
}

.modal-body {
  background-color: #CDCDCD;
}

.modal-header, .modal-footer{
  background-color:  #CDCDCD;
}
