*{
  
  margin: 0px;
  padding: 0px;}
.title_size{font-size:22px}
#name{
 text-shadow: rgba(80,100,250, .7) 4px 4px 4px; 
  font-size:25px;
  
}

h1{
  font: bold 20px timesnewroman;
}
p{
  font-size:15px;
}
body{
  background:#2B2B2B;
  text-align:center;
}
#big_wrapper{ 
             margin: 20px auto;
             text-align:left; 
             }   

#top_header{ background:#2B2B2B;
             color:#DFE2DB;
}

#menu_header li{float:right;
       padding: 15px;
       list-style:none; 
}

#main_section{text-align:center;
             padding-top: 150px;
             background: linear-gradient(to bottom, #2B2B2B, #DFE2DB);
              
}
.about_sec {
 background:#DFE2DB;
  
}
.image {
      
       width:225px;
       height:225px
}
article {
          padding-top:5px;
          padding-bottom:180px;         
         text-align: left;}
.description{
  margin:30px;
 
}
 
#portfolio{background:#DFE2DB;
            text-align:left;
           padding-top: 40px;          
}

.thumbnail{min-height:250px;              
}



#Contact{
      background: linear-gradient(to bottom, #DFE2DB,  #2B2B2B);
         text-align: left;
         padding:10px;
}


#footer{background:#2B2B2B;
        padding: 3px;
}

#footer li{display:inline-block;
           padding:10px;
}

.welcome_class{font: bold 20px Timesnewroman;
              padding-bottom:100px
               }